.root {
    /*-fx-background-image: url("/img/bj.jpg");*/
}

/*.image-view{
    -fx-image: url("/img/bj.jpg");
}*/
.jfx-button {
    -jfx-button-type: RAISED;
    -fx-background-color: #039BE5;
    -fx-text-fill: white;
    /*-jfx-disable-visual-focus: true;*/
}

.jfx-layout-heading .label {
    -fx-font-size: 20.0px;
}
.jfx-layout-actions .jfx-button{
    -fx-font-size: 16.0px;
}

.jfx-combo-box{
    -fx-background-color: white;
    -fx-border-width: 1px;
}

.tree-table-view .tree-table-cell {
    -fx-alignment: center;
    -fx-pref-height: 40px;
}