<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.web.mapper.UserMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jason.web.entity.User">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="password" property="password" />
        <result column="sex" property="sex" />
        <result column="age" property="age" />
        <result column="location" property="location" />
        <result column="credit_values" property="creditValues" />
        <result column="payment_code_img" property="paymentCodeImg" />
        <result column="qq_number" property="qqNumber" />
        <result column="mobile" property="mobile" />
        <result column="permission" property="permission" />
        <result column="status" property="status" />
        <result column="allow_order_times" property="allowOrderTimes" />
        <result column="valid_time" property="validTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_name, password, sex, age, location, credit_values, payment_code_img, qq_number, mobile, permission, status, allow_order_times, valid_time
    </sql>

</mapper>
